<div class="footer-body">
	<div class="footer-container">
		<div class=" container container-img">
			<a href="https://www.facebook.com/" class="img-url" target="_blank" ><img src="./assets/footer/fb.png" alt="facebook" class="img"></a>
			<a href="https://www.instagram.com/" class="img-url"  target="_blank" ><img src="./assets/footer/inst.png" alt="Instagram" class="img"></a>
			<a href="https://web.telegram.org/z/" class="img-url"  target="_blank" ><img src="./assets/footer/tg.png" alt="Telegram" class="img"></a>
		</div>
      <div class="  container pay">
	     <span class="pay-online"> ОНЛАЙН ОПЛАТА </span>
		 <br> <img  style="width:70px;" class="logo"  src="./assets/footer/pay.JPG" alt="LOTOS">
      </div>
		<div class=" container contacts">
      <span>НАШІ КОНТАКТИ</span>
		<p>(096)-12-55-315</p>
		<p>yaresik.oleg@ukr.net</p>
		<p>м.Львів, вул.Симона Петлюри32/4</p>
		</div>
	</div>
</div>

