<div class="price">
	<h1>ФОТО НАШОГО САЛОНУ </h1>
</div>

<div class="gallery-lightbox"  >
	<div class="gallery">
<div *ngFor="let data of galleryData; let i=index"   class="gallery-img">
<img (click)="onPreviewImage(i)" [src]="data.imageSrc" [alt]="data.imageAlt">
</div>
	</div>
	<div *ngIf="showMask" class="lightbox" @animation2 >
		<span  *ngIf="showCount"  class="count">{{currentIndex + 1 }}/{{totalImageCount}}  </span>
		<button *ngIf="previewImage" class="close-btn" (click)="onClosePreview()" >
 <mat-icon > close </mat-icon>
		</button>
		<button  *ngIf="controls" class="btn-lightbox-carousel btn-prev" (click)="prev()" >
			
			<mat-icon class="icon-carousel icon-lighbox-carousel icon-prev ">keyboard_arrow_left</mat-icon>
		</button>
		<button *ngIf="controls" class="btn-lightbox-carousel btn-next" (click)="next()" >
			
			<mat-icon class="icon-carousel icon-lighbox-carousel icon-next ">keyboard_arrow_right</mat-icon>
		</button>
		<div *ngIf="previewImage" 
		[@animation]="{ value: 'visible '} "
		(@animation.done)="onAnimationEnd($event)"
		class="lightbox-img">
			<img   [src]=" currentLightboxImage.imageSrc" [alt]="currentLightboxImage.imageAlt">
		</div>
	</div>
</div>
