<div class="contant">

	<h1  >ЧОМУ МИ ?</h1>
<h2>Ми раді вітати Вас</h2>
<p>
	Який масаж потрібен саме Вам? Якщо Ви вагаєтесь і не впевнені з точним вибором, в масажному салоні Яресик Олег спеціалісти готові підібрати для Вас відповідний вид масажу. Це може бути масаж спини, загальний оздоровчий масаж, класичний масаж і т.д. Якщо є проблема і потреба — в нашому салоні завжди знайдеться ефективне рішення. Здоров’я тіла і зовнішня привабливість найчастіше залежать від Вашого бажання, завзятості і дій на зустріч досягнення поставленої мети. Хочете позбутися від багаторічних проблем, пов’язаних з болями в спині? Потрібно діяти. Хочете назавжди позбутися від целюліту і стати стрункішою? Це бажання також вимагає Вашого активного бажання і участі. Одними руками Михайла зроблено більше 15 000 масажів і як таке може не вразити? Досвід кожного спеціаліста не менше 5-ти років. Будь-який з видів масажу виконується сертифікованими фахівцями, які завжди дадуть цінні рекомендації і допоможуть досягти потрібного Вам результату.

</p>
<p>
	Масажний салон Яресик Олег працює понад дев’ять років. До військових подій в країні, салон працював і в Луганській області, але сьогодні Ви можете замовити масаж в Києві, попередньо залишивши нам заявку або зв’язатися з менеджером. Ми знаходимося на правому та лівому берегах в пішій доступності до метро. За цей час у нас вже з’явилися постійні клієнти, які можуть порадити нас як фахівців своєї справи і ми звичайно цим пишаємося, бо думка людей про тебе — це найважливіше. Ми завжди прагнемо розвиватися і бути кращими. Ми активно розвиваємо сторінки youtube, Instagram и FaceBook. Підписуйтесь на наші групи, і про всі нові акції та пропозиції Ви дізнаєтеся першими.
</p>
<div class="picture"><img src="/assets/img/eboute-us.JPG" alt="logo" class="img"></div>
<h2>Які види масажів представлені в студії Яресика Олег?</h2>
<p>Звичайно у нас представлені різноманітні послуги масажу, але ми перерахуємо основні, які користуються популярністю у наших клієнтів:</p>
<ul>
	<li>антицелюлітний масаж;</li>
	<li>медовий масаж;</li>
	<li>масаж для вагітних;</li>
	<li>масаж стоп;</li>
	<li>лімфодренажний масаж;</li>
	<li>класичний масаж;</li>
</ul>
<p>
	Більше про послуги можна дізнатися у відповідному розділі. Яким би не був Ваш вибір, ми готові надати якісні послуги та індивідуальний підхід. Завжди раді Вас бачити в гостях у салоні масажу Яресик Олег є діагностика, з допомогою якої фахівці визначать Ваші особисті потреби і призначать максимально ефективний масажний курс. Ваша індивідуальна програма розробляється спеціалістами з урахуванням Ваших побажань і основних цілей. Наприклад, для оздоровчого ефекту. З урахуванням побажань наших відвідувачів ми розробили такі незвичні послуги як, масаж в 4 і навіть 6 рук. Якщо Ви ніколи раніше не були на подібних сеансах – варто спробувати, щоб переконатися, що відчуття від такого масажу неможливо порівняти з чим-небудь іншим.
</p>
<p>
	Масажисти салону працюють з будь-якими, навіть найскладнішими проблемами. Ми готові дарувати не тільки повноцінне розслаблення, а й забезпечуємо красу і здоров’я для всього тіла. Класичний косметичний масаж обличчя — одна з найбільш популярних процедур серед наших клієнтів, як і процедура антицелюлітного моделюючого масажу. Краса вимагає не жертв, а ретельної і регулярної роботи над собою. Довіряючи професіоналам свою красу і здоров’я, Ви можете бути впевнені, що результат Вас порадує, і мета буде досягнута.
</p>
<p>
	Для Вас ми створюємо в масажному кабінеті атмосферу повного релаксу. Масажисти працюють з високоякісною ізраїльською та іншими відомими марками косметикою. Завітайте в салон масажу і Вам гарантовані: повноцінний відпочинок, турбота і результат, до якого Ви так прагнете.
</p>
</div>
