<div class="wrapper">
	<div class="body">
		<h1  >ЧОМУ МИ ?</h1>

		<p>
			Спасибі всім, хто приділив пару хвилин і залишив нам відгук. Ми цінуємо Вашу думку і намагаємося відповідати бажанням і потребам наших клієнтів. Будемо вдячні, якщо після процедури Ви залишите відгук про масажі. Це можна зробити на даній сторінці і будь-якому з видів послуг масажу, а також на сторінці масажистів, ми раді будемо кожному думку. 
		
		</p>
		<p>
			Додаткові рекомендації, зауваження та пропозиції щодо поліпшення роботи персоналу і сайту, Анонімно Ви можете надіслати на пошту yaresik.oleg@ukr.net, ми їх розглянемо і зв’яжемося з Вами!
		</p>
	</div>
</div>




